.container {
  max-width: 720px;
  margin: 4rem auto;
}

.preview {
  max-width: 720px;
  width: 100%;
  margin: 5.5rem auto 0 auto;
  padding: 1rem;

  display: block;  
  background: var(--heading);
  border-radius: 4px;
  color: #000;
  
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
}