.banner {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.content {
  h2 {
    font-size: 2.25rem;
    color: var(--heading);
  }

  p, span, a, ul {
    font-size: 1.125rem;
    margin: 1.8rem 0;
    text-align: justify;
  }

  a {
    color: var(--highlight);
  }

  strong {
    font-weight: 700;
    color: var(--body);
  }

  ul {
    padding-left: 1.5rem;
    li {
      margin: 0.5rem 0;
    }
  }
}

.headerPost {
  > h1 {
    font-size: 3rem;
    color: var(--heading);
    margin-bottom: 1.5rem;
  }

  > ul {
    display: flex;

    padding: 0;
    margin: 0 0 4rem 0;

    list-style: none;

    & li {
      margin: 0;
      font-size: 0.875rem;

      & svg {
        margin-right: 0.5rem;
      } 

      & + li {
        margin-left: 1.125rem;
      }
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid var(--body);

  h3 {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--heading);
    margin-bottom: 0.5rem;
  }

  a {
    color: var(--highlight);
    font-weight: 600;
  }

  div {
    padding-top: 3rem;
  }

  & + a {
    text-align: right;
  }
}